* {
	border: 1px solid black;
}
 
[class*='col-'] {
	float: left;
}

.row {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.67%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%%;
}

.col-9 {
	width: 75%%;
}

.col-10 {
	width: 83.333%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}
